<mat-card>

    <mat-card-content>
      <h1 class="titulo-responsive mb-5">Introducción</h1>
      <p>
        El proyecto consiste en una aplicación web de tipo SPA (de una sola página) que permite la gestión y la generación automática de <strong>presentaciones
        de tipo Google Slides</strong> con un formato compatible a su vez con <strong>Power Point</strong>. A su vez, la aplicación permite la exportación a formato PDF.
      </p>
      <p>
        La aplicación web utiliza el api que provee Google para manejar tanto a <strong>Google Drive</strong> y a <strong>Google Slide</strong>, teniendo la posibilidad del aprovechamiento
        para crear el proyecto.
      </p>
      <p>
        Mediante la carga de un texto en el formulario de la aplicación, esta permite posteriormente generar una presentación de manera profesional en función al tipo de tema
        seleccionado. Dicho formulario está construido utilizando el acrónimo <strong>WYSIWYG (What You See Is What You Get)</strong>
      </p>
      <p>
        En el proyecto es necesario <strong>el uso de Internet y tener una cuenta de Google</strong> para su respectiva utilización.
        Cada presentación generada <strong>crea un pptx dentro de Google Drive</strong>, permitiendo su posterior manipulación.
      </p>
    </mat-card-content>

</mat-card>
