
<mat-sidenav-container class="example-container">
    <mat-sidenav class="sidenav" #sidenav [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()">

        <mat-nav-list class="mt-2 mb-3">
          <a mat-list-item [routerLink]="'/pages/presentaciones/lista'">
            <span>Volver al inicio</span>
          </a>
        </mat-nav-list>

        <mat-nav-list>
          <h2 mat-subheader style="font-size: 18px;">
              <mat-icon class="mr-3">description</mat-icon> <span class="pt-1">Guía</span></h2>
          <a mat-list-item [routerLink]="'/documentacion/introduccion'">
           <span class="pl-4">Introducción</span>
          </a>
          <a mat-list-item [routerLink]="'/documentacion/funcionamiento'">
            <span class="pl-4">Funcionamiento</span>
           </a>
          <a mat-list-item [routerLink]="'/documentacion/manual'">
            <span class="pl-4">Generar una presentación</span>
          </a>
          <mat-divider class="mb-3 mt-2"></mat-divider>
          <h2 mat-subheader style="font-size: 18px;">
              <mat-icon class="mr-3">build</mat-icon> <span class="pt-1">Desarrollo</span></h2>

          <a mat-list-item [routerLink]="'/documentacion/version'">
            <span class="pl-4">Versión</span>
          </a>
          <a mat-list-item [routerLink]="'/documentacion/desarrollador'">
            <span class="pl-4">Desarrollador</span>
          </a>
        </mat-nav-list>

      </mat-sidenav>
      <mat-sidenav-content>
      <div style="height: 100vh; overflow: auto;">
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <button class="text-center" mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <h1 [routerLink]="'/pages/presentaciones/lista'" style="cursor: pointer">Documentación</h1>
            <span class="menu-spacer"></span>
            <div *ngIf="!modoTabled">

            </div>
          </mat-toolbar-row>
        </mat-toolbar>
        <section class="container pt-4 pb-4" >
          <ng-content></ng-content>
        </section>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>


