<mat-card class="mb-5">

    <mat-card-content>
      <h1 class="titulo-responsive mb-5">Funcionamiento</h1>
      <h3 style="font-size: 23px;"><strong>Autenticación</strong></h3>
      <img src="/assets/imgs/login.JPG" class="img-fluid" alt="login" />
      <p>
        Primeramente la aplicación necesita que el usuario realice su login con su cuenta de Google. Una vez hecho esto, se invoca el lado del servidor de la aplicación. Cuando son verificadas las credenciales se redirige al usuario a la pantalla principal de la aplicación permitiendo el uso de la misma.
      </p>

      <h3 style="font-size: 23px;"><strong>Gestión de las Presentaciones</strong></h3>
      <img src="/assets/imgs/presentaciones-lista.JPG" class="img-fluid pb-5" alt="Lista" />
      <p>
        En la pantalla principal de la aplicación aparece un botón para crear una <strong>Nueva presentación</strong>. Un poco más abajo aparecen un buscador y lista de presentaciones.
        El buscador realiza un filtro por el título de la presentación. La lista de presentaciones está enlazada con aquellas que fueron creadas en el respectivo Google Drive del usuario.
        En caso de no necesitar la presentación, se debe eliminar la misma desde la aplicación.
        También permite elegir "favoritos" haciendo click al ícono en forma de corazón que posteriormente aparecerá en el menú de Favoritos
      </p>
      <h3 style="font-size: 23px;"><strong>Favoritos</strong></h3>
      <img src="/assets/imgs/presentaciones-favoritos.JPG" class="img-fluid pb-5" alt="Favoritos" />
      <p>
        En la sección de Favoritos se visualizan todas las presentaciones que fueron indicadas como tales en la pantalla principal. Para quitar una presentación de esta sección se debe hacer click en el ícono en forma de corazón de una de las presentaciones de la lista.
      </p>
      <h3 style="font-size: 23px;"><strong>Detalle de una presentación</strong></h3>
      <img src="/assets/imgs/presentaciones-detalle.JPG" class="img-fluid pb-5" alt="Detalle" />
      <p>
        Al elegir una presentación de la lista, la aplicación nos muestra detalles de la misma, mostrando información relevante (como título y fecha de creación). Permite, además, la posibilidad de exportar las presentaciones en formato PDF y/o Power Point. También la posibilidad de editar la presentación haciendo click al botón "Editar".
      </p>

    </mat-card-content>

</mat-card>

